<div class="row">
    <div class="col-md-12 my-5">
        <h3>New users</h3>
        <div class="my-5">
            <%= line_chart charts_users_per_day_path %>
        </div>
        <div class="my-5">
            <h3>New enrollments</h3>
            <%= column_chart charts_enrollments_per_day_path %>
        </div>
        <div class="my-5">
            <h3>Course popularity</h3>
            <%= bar_chart charts_course_popularity_path %>
        </div>
        <div class="my-5">
            <h3>Money makers</h3>
            <%= bar_chart charts_money_makers_path %>
        </div>'

    </div>
</div>