        <div class="card mb-3">
            <div class="card-header">
                <i class="far fa-check-square text-primary"></i>
                <%= link_to lesson.title, course_lesson_path(@course, lesson) %>
            </div>
            <% if policy(lesson).show? %>
            <div class="card-body">
                <%= lesson.content %><br>
            </div>
            <% end %>
            <% if current_user && policy(lesson).edit? %>
            <div class="card-footer">
                <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning' %>
                <%= link_to 'Delete', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            </div>
            <% end %>
        </div>