body {
  color: #333;
}

a:hover {
  background-color: transparent;
  color: rgb(0, 0, 255);
}

a:visited {
  color: #007bff;
}

a.btn:visited {
  color: #fff;
}

.text-right span {
  margin-left: 1em;
}
