body {
  color: #333;
  background-color: #f8f0e6;
}

.nav-item a:hover,
a:hover {
  background-color: transparent;
  // color: rgb(0, 0, 255);
}

a:visited {
  color: #007bff;
}

a.btn:visited {
  color: #fff;
}

.text-right span {
  margin-left: 1em;
}

.form-control.is-invalid {
  background-image: none;
}

.form-control.is-valid {
  background-image: none;
}

ul.pagination {
  justify-content: center;
}

.ui-state-highlight {
  height: 3em;
  line-height: 1.2em;
  background-color: yellow;
}
