<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Editing Course</h1>
            </div>
            <div class="card-body">
                <%= render 'form', course: @course %>

            </div>
        </div>
    </div>
</div>
<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>