<footer class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Copyright
                © <%= Time.now.year %><br>
                <i class="fa fa-envelope"></i>
                <%= mail_to 'someone@example.com' %>

            </div>
            <div class="col-md-4">
                Privacy policy <br>
                Terms and conditions
            </div>
            <div class="col-md-4">
                About us <br>
                <%= link_to 'Teach on Edurge', new_course_path %>
            </div>
        </div>

    </div>

    </div>
</footer>